<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
    <ion-button color="danger" (click)="logout()">
      Logout
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-row>
      <ion-col text-center>
        Your are logged in as : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-item>
      Users List
    </ion-item>
    <ion-item *ngFor="let user of users">
    <ion-row>
      {{user.userEmail}}
    </ion-row>
  </ion-item>
  </ion-card>
  <div id="container">
    <ion-card>
    </ion-card>
  </div>
</ion-content>